/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  padding: 5px;
}

video {
  width: 100%;
  display: block;
}

html {
  text-wrap: pretty;
}

/* Skrifttyper */
@font-face {
  font-family: "Champignon";
  src: url("champignon-webfont.woff2") format("woff2"), url("champignon-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Champignon_alt_swash";
  src: url("champignonaltswash-webfont.woff2") format("woff2"), url("champignonaltswash-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "helveticaultra_compressed";
  src: url("../fonts/Helvetica-UltraCompressed-Regular/helvetica_ultra_compressed-webfont.woff2") format("woff2"), url("../fonts/Helvetica-UltraCompressed-Regular/helvetica_ultra_compressed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.ballet-regular {
  font-family: "Ballet", serif;
  font-weight: 400;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Ballet", serif;
  font-size: 5rem;
  color: lightgray;
  font-weight: 400;
  text-align: center;
}

.my_info h1 {
  color: black;
  font-size: 3.2rem;
  text-shadow: 1px 1px 40px rgb(95, 61, 36);
}

h2 {
  font-family: "Champignon", serif;
  font-weight: 400;
}

h3 {
  font-family: "Times New Roman", Times, serif;
  font-size: 2.7rem;
  font-weight: 500;
  font-style: italic;
}

.title h3 {
  line-height: 3.6;
  text-align: center;
}

h4 {
  font-family: "Arial_narrowbold", sans-serif;
}

.textarea h4,
#themes h4 {
  max-width: 78ch;
  margin: 0 auto;
  text-shadow: -10px 1px 14px #e80000, 10px 1px 14px #e80000;
}

#themes h4 {
  position: relative;
  text-align: center;
  bottom: 40px;
}

h5 {
  font-family: Arial, sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
  line-height: 1.4;
}

p {
  font-family: "Inter";
  font-size: 0.9rem;
  font-weight: 300;
}

.content p {
  max-width: 78ch;
  margin: 0 auto;
}

a {
  font-family: "helveticaultra_compressed";
  text-transform: uppercase;
  font-weight: 1000;
  transition: color 0.3s;
}

footer a:hover,
header a:hover {
  color: #2548c7;
}

.textarea a,
.forwards,
.backwards {
  font-family: "Inter";
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: none;
  color: #2548c7;
  transition: 0.3s;
}

.textarea a:hover {
  opacity: 0.6;
}

/* Styling */
.titles {
  display: grid;
}

.title {
  grid-area: 1 / 1;
  text-align: center;
}

.textarea {
  margin: -40px auto 5px;
  max-width: 90%;
}

.textarea .no_border {
  border: 0;
}

.no_style a {
  text-decoration: none;
  color: black;
}

/* Forside */
.folder {
  transition: 0.3s;
}

.folder:hover {
  transition: 0.3s;
  scale: 1.05;
}

/* Om mig */
.id_card {
  height: 100%;
  width: 100%;
}

.card {
  margin: 20px auto 0 auto;
  width: 90%;
  height: 500px;
  background-image: url(../imgs/plastic.webp);
  background-size: cover;
  background-color: #fcf7f1;
  border-radius: 25px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 15px;
}

.my_face img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.my_name {
  padding-left: 10px;
}

.card_grid {
  display: grid;
  grid-template-columns: max-content 1fr;
}

.flex_row {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 10px;
}

.card_grid_2 {
  display: flex;
  justify-content: space-between;
}

.forwards,
.forwards a {
  text-align: right;
  color: grey;
}

.backwards,
.backwards a {
  text-align: left;
  color: grey;
}

#projects {
  margin-top: 25px;
}

.instagram {
  aspect-ratio: 5/7;
  place-items: center;
}

#hero_section img {
  filter: contrast(1.1);
}

/* Linje */
.container {
  margin: 0 auto;
}

.vertical-line {
  border-left: 1.5px solid #000;
  height: 100%;
}

/* Kasser til CV */
.school :nth-child(4) {
  grid-row: 4;
  margin-top: 625px;
}

.work div:nth-child(1) {
  margin-top: 215px;
}

.work div:nth-child(6) {
  margin-top: 128px;
}

.block {
  display: none;
}

@media screen and (min-width: 740px) {
  .my_face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card_grid {
    display: grid;
    grid-template-columns: 315px 1fr;
    grid-template-rows: 400px;
  }

  .my_name h3 {
    font-size: 5rem;
  }

  .my_info h1 {
    font-size: 6.8rem;
  }

  .block {
    display: block;
  }

  .block2 {
    display: none;
  }

  .school :nth-child(4) {
    grid-row: 4;
    margin-top: 310px;
  }

  .work div:nth-child(1) {
    margin-top: 164px;
  }

  .work div:nth-child(6) {
    margin-top: 74px;
  }
}

@media screen and (min-width: 450px) {
  .my_name h3 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 1020px) {
  .my_info h1 {
    font-size: 3.4rem;
    text-align: left;
  }
}

@media screen and (max-width: 710px) {
  .instagram {
    aspect-ratio: 5/5.5;
    place-items: center;
  }

  .max_width {
    width: 98%;
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 450px) {
  .my_info h1 {
    font-size: 14cqw;
    text-align: left;
  }
}

#themes a {
  text-decoration: none;
  color: black;
  text-transform: none;
}
